asgiref==3.7.2
Django==4.2.4
sqlparse==0.4.4
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
idna==3.4
lxml==4.9.3
requests==2.31.0
soupsieve==2.4.1
urllib3==2.0.4
pandas~=2.0.3
alembic==1.7.6
sqlalchemy==1.4.31
fastapi==0.73.0
psycopg2-binary==2.9.3
uvicorn==0.16.0
