{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
</head>
<body>
    <section>
        <div>
            <h1>Vestrum</h1>
        </div>
        <div>
            <p>
                Команда мечты
            </p>
        </div>
    </section>
</body>
</html>